.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(13, 17, 23, 0.95); /* fondo negro con opacidad */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  z-index: 1000;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(13, 17, 23, 0.98);
  backdrop-filter: blur(6px);
  padding: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.nav-item {
  cursor: pointer;
  margin: 0 16px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #1f6feb;
}

.nav-item.active {
  color: #58a6ff;
  font-weight: bold;
}

.contact {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.contact:hover {
  color: #1f6feb;
}

.language-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 100px;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-dropdown:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.flag-icon {
  width: 24px;
  height: 18px;
  object-fit: cover;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  .language-dropdown {
    position: absolute;
    top: 16px;
    right: 16px;
    margin-right: 35px;
  }
}

@media (max-width: 480px) {
  .nav-item {
    font-size: 14px;
  }

  .nav-menu.active {
    padding: 12px;
  }

  .menu-icon {
    font-size: 20px;
  }
}
