* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0A192F;
}

.title-icon {
  font-size: 30px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 480px) {
  .title-icon {
    font-size: 18px;
  }
}
